body {
/*    background-color: #6EBBFF;*/
    color: black;
    font-family: Candara, sans-serif;
}

#topsection {
    background-color: cornflowerblue;
    width: 80%;
    height: 50%;
    display: block;
    margin: auto;
}

.hi {
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
}

.picofme {
    padding-bottom: 30px;
    max-width: 350px;
    display: block;
    margin: auto;
}

.links {
    display: flex;
    justify-content: center
}

.logo {
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.title {
/*    font-family: sans-serif;*/
    font-size: 20px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}